<div class="jumbotron">
	<h1>何が出来ますか？</h1>
	<p>
		一元管理されたチェック項目を元に、チェックリストを作成することができます。
		チェックリストはユーザ毎に作成されます
	</p>
</div>

<div class="jumbotron">
	<h1>どうやって使いますか？</h1>

	<ol>
		<h2><li>ログイン</li></h2>

			<p>
				まず、ログインします。ログインしていないと、チェック項目やチェックリストを作成することはできません。
			</p>

			<p>
				<code>Sign Up</code>から、ユーザ登録をします。既にユーザ登録している場合は、<code>Login</code>からログインします。
			</p>

			<p>イメージ</p>

		<h2><li>チェック項目を追加</li></h2>

			<p>チェックしたい内容を登録していきます。</p>

			<ul>
			<li><code>チェック項目</code>リンクに入ります</li>
			<li><code>+</code>ボタンを押して、チェック項目を作ります</li>
			</ul>

			<p>イメージ</p>

			<ul>
			<li>入力フォームに従い、チェック項目を作成していきます。</li>
			<li>各項目は、編集アイコンから後で編集することができます。</li>
			</ul>

			<table>
			<thead>
			<tr>
			  <th>タイトル</th>
			  <th>説明</th>
			</tr>
			</thead>
			<tbody><tr>
			  <td>チェックタイトル</td>
			  <td>この文字列がチェックリストにも表示されます。</td>
			</tr>
			<tr>
			  <td>チェックの詳細</td>
			  <td>タイトルには書ききれない、詳細事項などを記述します。</td>
			</tr>
			<tr>
			  <td>タグ</td>
			  <td>チェック項目の分類をタグ付けします。チェックリストでは、特定のタグを持つチェック項目のみのチェックを行う事ができます。</td>
			</tr>
			<tr>
			  <td>保存</td>
			  <td>保存を実行します</td>
			</tr>
			</tbody></table>


			<p>必要なだけ、チェック項目を作成してください。</p>

			<p>作成したチェック項目の編集、削除はこのボタンから実行します。</p>

			<p>イメージ</p>

		<h2><li>チェックリストを作成</li></h2>

			<p>チェック項目をもとにチェックリストを作成します。</p>

			<ul>
			<li><code>チェックリスト</code>リンクにはいります</li>
			<li><code>+</code>ボタンを押して、チェックリストを作ります</li>
			</ul>

			<p>イメージ</p>

			<ul>
			<li>入力フォームに従い、チェックリストを作成していきます。ここで設定するのは、チェックリストの名前と、タグのみです。</li>
			<li>各項目は、編集アイコンから後で編集することができます。</li>
			</ul>

			<table>
			<thead>
			<tr>
			  <th>タイトル</th>
			  <th>説明</th>
			</tr>
			</thead>
			<tbody><tr>
			  <td>チェックリスト名</td>
			  <td>チェックリストの名前を入力します</td>
			</tr>
			<tr>
			  <td>タグ</td>
			  <td>チェックしたいカテゴリのタグを入力します。既に存在するタグ名を入力する必要があります。タグを空にした場合、すべてのチェック項目がチェックの対象となります。</td>
			</tr>
			<tr>
			  <td>保存</td>
			  <td>保存を実行します</td>
			</tr>
			</tbody></table>


			<p>作成を実行すると、指定したタグを持つチェック項目を羅列したチェックリストが完成します。</p>

			<p>イメージ</p><div class="se-section-delimiter"></div>

		<h2><li>チェック実行</li></h2>

			<p>チェックリストから実行したい項目を選択し、チェックを実行します。</p>

			<p>イメージ</p>

			<p>チェックが終わったら、左側のチェックボックスをONにしてください。 <br>
			必要に応じてコメントを残してください。</p>

			<p>編集したら、保存ボタンを押して終了です。</p>
	</ol>

	<p>忘れ物防止にお役に立てれば、幸いです。</p><div class="se-section-delimiter"></div>

</div>

<h1 id="セットアップ方法">セットアップ方法</h1>

<p>本アプリは Ruby On Rails で作成しています。</p>

<h3 id="環境">環境</h3>

<table>
<thead>
<tr>
  <th style="text-align:left;">Ruby</th>
  <th style="text-align:left;">Rails</th>
</tr>
</thead>
<tbody><tr>
  <td style="text-align:left;">2.1.0dev</td>
  <td style="text-align:left;">4.0.2</td>
</tr>
</tbody></table>


<p>ソースコードは、GitHubからダウンロードします。</p>

<pre><code>git clone https://github.com/et79/checkListApp.git
</code></pre>

<p>アプリを起動します</p>

<pre><code>cd checkListApp
rails s
</code></pre>

<p>アプリにアクセスします</p>

<pre><code>http://localhost:3000
</code></pre><div class="se-section-delimiter"></div>

<h3 id="その他開発記など">その他、開発記など</h3>