<!-- チェックリスト一行分を表示 -->

<tr>
	<!-- チェックリスト名 -->
	<td>
		<%= link_to project.title, project_path(project.id) %>
	</td>
	
	<!-- タグ -->
	<td>
		<% project.tags.each do |tag| %>
			<span class="label label-default">
				<%= tag.name %>
			</span>
			&nbsp
		<% end %>
	</td>

	<!-- 操作 -->
	<!-- 編集／削除はログイン時のみ可 -->
	<% if user_signed_in? then %>
		<td>
			<div class="btn-group">
				<!-- 編集ボタン -->
				<%= link_to edit_project_path(project.id), class: "btn btn-default btn-sm" do %>
					<i class="glyphicon glyphicon-pencil"></i>
				<% end %>  

				<!-- 削除ボタン -->
				<%= link_to project_path(project.id), class: "btn btn-default btn-sm", method: :delete, data: { confirm: t('labels.del_confirm') } do %>
					<i class="glyphicon glyphicon-remove"></i>
				<% end %>
			</div>
		</td>
	<% end %>
</tr>
